@font-face {
    font-family: "whiteRabbit";
    src: url('white-rabbit.woff') format('woff'),

}

body {
    background-color: black;
    color: #00ff00;
    font-family: 'whiteRabbit', "Courier New", sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 150px;
    background-color: black;

}

content {
    display: flex;
    align-items: center;
    justify-content: center;
}

title-container {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    background-color: white;
    width: 800px;
    text-align: center;
}

glyph-container {
    width: 500px;
    height: 250px;
    background-color: black;
}