@font-face {
    font-family: "whiteRabbit";
    src: url('white-rabbit.woff') format('woff'),

}
body {
    background-color: black;
    color: #00ff00;
    font-size: 26px;
    font-family: 'whiteRabbit', "Courier New", sans-serif;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}